* {
  margin: 0px;
  padding: 0px;
}

.CartList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style-type: none;
  font-family: sans-serif;
  font-size: 30px;
  color: white;
}

.Empty {
  font-family: sans-serif;
  font-size: 40px;
  color: white;
}

.Restart {
  text-decoration: none;
  font-family: sans-serif;
  font-size: 25px;
  color: white;
  border: 2px solid white;
  padding: 1%;
  border-radius: 10px;
}

.TotalPrice {
  margin-top: 3%;
  margin-bottom: 3%;
  font-family: sans-serif;
  font-size: 30px;
  color: white;
}

.ButtonCart {
  align-self: center;
  padding: 1.5%;
  background: none;
  color: white;
  font-family: sans-serif;
  font-size: 18px;
  width: fit-content;
  height: fit-content;
  border: solid 2px white;
  border-radius: 10px;
}