* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.NavBar {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.LinkLogo {
  width: 9%;
  height: 100%;
  padding: 1.5%;
  justify-self: flex-start;
}

.logo {
  width: 100%;
  height: auto;
}