.Cart {
  background: linear-gradient(90deg, #3b0871 15%, #481d95 51%, #76519e 94%);
  margin-top: 2%;
  height: 12vh;
  width: 6vw;
  border: solid 2px white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Halcon {
  height: 8vh;
  transform: rotate(45deg);
}

.Title {
  background: none;
  border: none;
  margin-left: -1vw;
  color: white;
}